.svn
.deps
m4
config.*
autom4te.cache
ABOUT-NLS
debian

*.gmo
*.po.orig

Makefile
Makefile.in
Makevars.template
POTFILES

compile

po/*.header*
po/Rules-quot
po/stamp-po
po/*.pot
po/boldquot.sed
po/ChangeLog
po/*.sed
po/*.sin

*~

bin/test*.*

lib/libxmldiff